.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--clr5);
  }
  
  .table-container {
    overflow-x: auto;
    border: 2px solid #5cd65c; /* Borde de 2px de color verde menta alrededor de la tabla */
    border-radius: 8px; /* Esquinas redondeadas */
    padding: 20px; /* Espacio interno para el contenido de la tabla */
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .produc-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .produc-table th,
  .produc-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #5cd65c; /* Borde de 1px de color verde menta alrededor de celdas */
  }
  
  .produc-table thead {
    background-color: #5cd65c; /* Color de fondo verde menta para el encabezado */
    color: #fff;
    text-align: center; /* Alinea el texto del encabezado al centro */
  }
  
  .produc-table th {
    font-weight: bold;
  }
  
  .produc-table tbody tr:nth-child(even) {
    background-color: #e0f3e0; /* Cambia el color de fondo de las filas pares */
  }
  
  .produc-table tbody tr:hover {
    background-color: #d1ecd1; /* Cambia el color de fondo al pasar el cursor sobre una fila */
  }
  
  /* Estilo para el título "Lista de Productos" */
  .produc-table h1 {
    text-align: center; /* Alinea el título al centro */
    margin-bottom: 20px; /* Espacio inferior para separar el título de la tabla */
    color: #f3eded; /* Color de texto verde menta */
    font-size: 24px; /* Tamaño de fuente del título */
    font-weight: bold; /* Texto en negrita */
  }
  